POSTGRES_DB=mapdb
POSTGRES_USER=mapuser
POSTGRES_PASSWORD=map_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DSN=postgres://mapuser:map_password@postgres:5432/mapdb?sslmode=disable
REDIS_ADDR=localhost:6379
REDIS_INTERNAL_ADDR=redis:6379
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INTERNAL_URL=http://elasticsearch:9200
ROUTING_SERVICE_PORT=8081
GEOCODING_SERVICE_PORT=8000
TILE_SERVICE_PORT=8082
